body{
    justify-content:center;
}

h1{
    text-align: center;
}

.rectangle{
   
    border:1px solid black;
    padding:20px 10px;
}
#rectangle1{
    background-color: black;
}

#rectangle2{
    background-color:grey;
} 

#rectangle3{
    background-color:white;
}
