body{
    justify-content: center;
}

h2{
    text-align: center;
}

.container{
    position:relative;
    width: 500px;
    height:500px;
    background-color:lightblue;
    padding:20px;
    border:1px solid black;
}

#box1{ 
    position:relative;
    top:30px;
    right:30px;
    width:150px;
    height:150px;
    border:2px solid black;
    background-color: blue;
}
#box2{ 
    
    position:relative;
    top:30px;
    right:30px;
    width:150px;
    height:150px;
    border:2px solid black;
    background-color: blue;
}
#box3{ 
    
    position:relative;
    top:30px;
    right:30px;
    width:150px;
    height:150px;
    border:2px solid black;
    background-color: blue;
}
#box4{ 
    position:relative;
    top:30px;
    right:30px;
    width:150px;
    height:150px;
    border:2px solid black;
    background-color: blue;}